@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
  }
}

/* .bg {
  background-color: #ffffff;
  opacity: 0.2;
  background-image: linear-gradient(#dbdbdb 3.2px, transparent 3.2px),
    linear-gradient(90deg, #dbdbdb 3.2px, transparent 3.2px), linear-gradient(#dbdbdb 1.6px, transparent 1.6px),
    linear-gradient(90deg, #dbdbdb 1.6px, #ffffff 1.6px);
  background-size: 80px 80px, 80px 80px, 16px 16px, 16px 16px;
  background-position: -3.2px -3.2px, -3.2px -3.2px, -1.6px -1.6px, -1.6px -1.6px;
} */

@keyframes revolve {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.bg {
  background-color: #2e2e2e;
  opacity: 1;
  background-image: radial-gradient(#5a5c62 1.25px, transparent 1.25px), radial-gradient(#5a5c62 1.25px, #2e2e2e 1.25px);
  background-size: 50px 50px;
  background-position: 0 0, 25px 25px;
}

.circles {
  background-color: #ffffff;
  opacity: 1;
  background-image: radial-gradient(circle at center center, #dbdbdb, #ffffff),
    repeating-radial-gradient(circle at center center, #dbdbdb, #dbdbdb, 16px, transparent 32px, transparent 16px);
  background-blend-mode: multiply;
}

.page-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content max-content 1fr;
  gap: 0.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: top;
  padding: 0.5rem;
  grid-area: 1 / 1 / 2 / 2;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.5rem;
  grid-area: 2 / 1 / 3 / 2;
}

.universe {
  grid-area: 3 / 1 / 4 / 2;
}

.lecture-grid {
  display: grid;
  grid-template-columns: 4rem 1fr 4rem;
  gap: 0.5rem;
}

.back-btn {
  grid-area: 1 / 1 / 2 / 2;
}

.lecture {
  grid-area: 1 / 2 / 2 / 3;
}

.next-btn {
  grid-area: 1 / 3 / 2 / 4;
}
